header {
    text-align: center;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

body{
    font-family: 'Roboto', Arial;
    font-size: 16px; 
    height: 100%;
    background-color: #e2f1f8;
}


table{
    border: 1px solid black;
}

/*
Listado ejercicios
*/

ul{
    list-style: none;
    margin: 0;
    padding: 2px;
    text-align: center;
}

ul>li>a{
    color: black;
    text-decoration: none;
}

ul>li>a:hover{
    text-decoration: none;
}

.conjuntoTareas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 2%;
    justify-items: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }


footer>p{
    text-align: center;
}

footer>h3{
    text-align: center;
}

footer>div#iconos{
    text-align: center;
}

#iconos img:hover{
    transform: perspective(700px) rotateY(45deg);
}