header {
    text-align: center;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

body{
    font-family: 'Roboto', Arial;
    font-size: 16px; 
    height: 100%;
    background-color: #e2f1f8;
}


table{
    border: 1px solid black;
    margin-left: 10px;
}

/*
Listado ejercicios
*/

ul{
    list-style: none;
    margin: 0;
    padding: 2px;
    text-align: center;
}

ul>li{
    margin: 3px;
}

ul>li>a{
    color: black;
    text-decoration: none;
}

ul>li>a:hover{
    text-decoration: none;
}

.conjuntoTareas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 2%;
    justify-items: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }


footer>p{
    text-align: center;
}

footer>h3{
    text-align: center;
}

footer>div#iconos{
    text-align: center;
}

#iconos img:hover{
    transform: perspective(700px) rotateY(45deg);
}



/*
    Div texto ejercicios
*/
#texto{
    text-align: center;
    margin-top: 200px;
}


/* Div dni ejercicio 6 */

#dni{
    text-align: center;
    margin-top: 200px;
}


/* Div ejercicios*/
#eje7,#eje8,#eje9,#eje10,#eje11,#eje12,#eje13,#eje14,#eje18{
    text-align: center;
    margin-top: 200px;
}

#texto8,#texto9,#texto10{
    margin-top: 30px;
    text-align: center;
}

/* Visibilidad texto eje12*/
.visible{
    display: inline;
}

.oculto{
    display: none;
}

/* Visibilidad texto eje12*/
.block{
    display: block;
}

.none{
    display: none;
}

/*Ejercicio 15*/
.raton{
    background-color: #FFFFCC;
}

.teclado{
    background-color: #CCE6FF;
}

.mueveRaton{
    background-color: rgb(255, 255, 255);
}


/*Ejercicio 16*/

#eje16 {
    width:160px;
    border:thin solid rgb(140, 196, 29); 
    padding:.5em; 
    position:fixed;
    margin-left: 650px;
    margin-top: 100px;
    text-align: center;
}
#eje16 h1 {
    margin: 0;
}

/*Ejercicio 17*/

#eje17{
    text-align: center;
    margin-top: 50px;
}

#texto17{
    margin-left: 630px;
    margin-top: 50px;
}

/*Ejercicio 19*/

#eje19{
    text-align: center;
    margin-top: 50px;
}